*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black
}
.orta{
    width: 960px;
    margin: auto;
    display: flex;
    border: 1px solid
}

.item{
    background: #292845;
    flex: 1;
    position: relative;
    height: 500px;
    border: 5px solid;
    border-radius: 20px;
    margin: 10px;
}

img{
    width: 100%
}
.ab{
    color: #3dd0d8;
    display: flex;
    justify-content: space-between;
}
.footer{
    color: #3dd0d8;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.af{
    color: #c2d4f8;
    margin: 15px 0;
}
.ad{
    display: flex;
    color: whitesmoke;
    margin: 15px 0;
}
.detail{
    padding: 15px 30px;
}
.photo{
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    bottom: 0;
    top:0;
    background: linear-gradient(to right, #3dd0d8 0%, rgba(124, 105, 227, 0.64) 100%);
}
.img-box{
    position: relative;
}
.item:hover .photo{
    opacity: 1;
}